body {
  padding: 0;
  display: block !important;
}

.main-wrapper {
  display: flex;
}
.main-wrapper #pic {
  width: 53%;
}
.main-wrapper .mainContent {
  width: 47%;
  padding: 30px;
}
/* adding colors */
/* :root {
  --primary: #1da1f2;
  --black: #14171a;
  --darkgray: #657786;
  --lightgray: #aab8c2;
  --extragray: #e1e8ed;
  --extralightgray: #f5f8fa;
} */
/* the big pic on the left */
#twitterImg {
  width: 100%;
  height: 100%;
}
/* the small icon on the right */
#icon {
  margin-left: -20px;
  width: 100px;
  height: 100px;
  display: block;
}

/* the writing on the right */
.mainContent .happening {
  font-weight: bold;
  font-size: 70px;
}
.mainContent h2 {
  padding-top: 30px;
  font-size: 30px;
}

/* the create button (when pressed, it will show hidden divs) */
.mainContent #btnCreate {
  margin-top: 50px;
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius: 20px;
  width: 300px;
  height: 40px;
  font-size: large;
}
.mainContent #btnCreate:hover {
  background-color: #118fdd;
  cursor: pointer;
}

#signSec h4 {
  margin-top: 50px;
}

/* styling the warning message */
.mainContent .warn {
  display: block;
  line-height: 1.5rem;
  margin-top: 15px;
  font-weight: 400;
}
.warn > a {
  color: var(--primary);
}

/* the sign in button that would direct users to sign in html page */
#btnSignin {
  margin-top: 20px;
  background-color: white;
  color: var(--primary);
  border: 2px solid #e7e7e7;
  border-radius: 20px;
  width: 300px;
  height: 40px;
  font-size: large;
  font-weight: 600;
}

#btnSignin:hover {
  background-color: #e8ebec;
  cursor: pointer;
}
/* styling footer */
footer {
  width: 100%;
  padding: 30px;
}
footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 20px;
}
footer ul > li {
  display: inline-block;
}
footer li > a {
  color: #657786;
  line-height: 1.5em;
  font-size: medium;
}
footer h5 {
  text-align: center;
}

/* ////////////////////////////////////////////// */

/* styling the hidden divs */

/* starting with the transparent background */
#overlay-background {
  content: "";
  background-color: var(--darkBlack);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: 1;
}

/* form placed in the center */

#createForm,
#loginForm {
  position: relative;
  background-color: white;
  position: fixed;
  display: none;
  left: calc(50% - 20%);
  width: 40%;
  border: 3px;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  z-index: 10;
}
#createForm {
  top: calc(50% - 250px);
  height: 500px;
}
#loginForm {
  top: calc(50% - 200px);
  height: 400px;
}
/* the small exit icon on the left */
.exit-icon {
  position: absolute;
  right: 30px;
  top: 30px;
  scale: 2;
}
.exit-icon:hover {
  cursor: pointer;
}
#createForm h2,
#loginForm h2 {
  text-align: center;
  margin-top: 50px;
}

.create-account {
  width: 80%;
  margin: auto;
  margin-top: 50px;
}
/* inputs */
.create-account input {
  display: block;
  border: 2px solid #e7e7e7;
  width: 100%;
  height: 40px;
  top: 100px;
  left: 70px;
  margin-bottom: 20px;
  border-radius: 10px;
  font-size: large;
}
.create-account input::placeholder {
  font-size: 1em;
  padding: 7px;
}

input[type="submit"] {
  background-color: var(--primary);
  color: white;
  border: 2px solid #e7e7e7;
  border-radius: 20px;
  width: 300px;
  height: 40px;
  font-size: large;
  width: 60%;
  margin: auto;
}
input[type="submit"]:hover {
  background-color: var(--darkBlack);
}
#singIn:hover,
#signUp:hover {
  cursor: pointer;
}
