.search-header {
  padding: 10px 20px;
  box-sizing: border-box;
}
.search-header span {
  display: block;
  position: relative;
  border-radius: 50px;
}
.search-header span input {
  width: 100%;
  padding: 10px 20px;
  padding-right: 40px;
  padding-left: 15px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid var(--secondary);
  font-size: 16px;
  border-radius: 50px;
}
.search-header span span {
  display: inline-block;
  background-color: var(--darkBlack);
  color: white;
  height: 100%;
  width: 50px;
  position: absolute;
  top: 0%;
  right: 0;
  border-radius: 0 50px 50px 0;
  text-align: center;
}
.search-header span i {
  margin-top: 25%;
  margin-right: 10px;
}
.search-header span i:hover {
  scale: 1.2;
  cursor: pointer;
}

.search-select {
  display: flex;
  margin-top: 10px;
}

.search-select input[type="radio"] {
  display: none;
}
.search-select label {
  display: block;
  width: 50%;
  text-align: center;
  cursor: pointer;
  line-height: 2.5em;
  font-weight: 600;
}
.search-select input:checked + label {
  background-color: var(--secondary);
  border-radius: 50px;
}
.search-result {
  margin-top: 20px;
}
.search-result .follow-ing-btn,
.search-result .trash,
.search-result .edit {
  display: none;
}
